@import './variables';
@import './mixins';
@import './muse_reset';
* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
  background-color: $bg-color;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"],
textarea {
  -webkit-appearance: none;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.ellipsis {
  @include ellipsis();
}

[class*='border1px'] {
  position: relative;
  &::after {
    @include border1px();
  }
}

.border1px {
  &--top::after {
    border-top-width: 1px;
  }
  &--left::after {
    border-left-width: 1px;
  }
  &--right::after {
    border-right-width: 1px;
  }
  &--bottom::after {
    border-bottom-width: 1px;
  }
  &--top-bottom::after {
    border-width: 1px 0;
  }
  &--surround::after {
    border-width: 1px;
  }
}

.tb-line {
  position: relative;
  display: inline-block;
  background-color: inherit;
  &::after,
  &::before {
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: $theme-sub-color;
    opacity: .6;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.fade-move-out-enter-active,
.fade-move-out-leave-active,
.fade-move-in-enter-active,
.fade-move-in-leave-active,
.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  transition: all 300ms;
  height: 100%;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
  perspective: 1000;
  width: 100%;
  z-index: 222;
}



.vux-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.vux-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.vux-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.vux-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fade-move-out-enter {
  opacity: 1;
  transform: translate3d(0%, 0, 0);
  z-index: 200;
}

.fade-move-out-leave-to {
  opacity: 0;
  transform: translate3d(20%, 0, 0);
  z-index: 222;
}

.fade-move-in-enter {
  opacity: .5;
  transform: translate3d(10%, 0, 0);
  z-index: 222;
}

.fade-move-in-leave-to {
  opacity: 1;
  transform: translate3d(0%, 0, 0);
  z-index: 200;
}
