@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin abs-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin border1px-common() {
  content: ' ';
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
}

@mixin border1px($border-color: #ebedf0) {
  @include border1px-common();
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  transform: scale(0.5);
  border: 0 solid $border-color;
}

@mixin border1px-bottom($border-color: #ebedf0, $left: 0) {
  @include border1px-common();
  left: $left;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid $border-color;
}

@mixin multi-ellipsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@mixin avatar() {
  width: 300px;
  height: 300px;
}
