$theme-color: #2196f3;
$theme-sub-color:#f06292;
$bg-color: #fafafa;



$screen-lg: 992px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-xl: 1200px;


$font-normal: 24px;
$font-lg: 48px;
$font-xl: 72px;
$font-small: 18px;
